@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap");

/* ------------------------- */
/* Global Setting/Style */
/* ------------------------- */

body {
  font-family: Orbitron;
}

ul {
  padding: 0;
  margin: 0;
}

/* ----------------------------- */
/* End of Global Setting/Style */
/* ----------------------------- */

/* ------------------------- */
/* Nav-Bar Section */
/* ------------------------- */

section > nav {
  position: relative;
  margin: 55px 75px;
}

nav > div > img {
  width: 150px;
  height: 45px;
}

ul {
  float: right;
  position: absolute;
  top: 20%;
  left: 25%;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.11rem;
  color: #000;
}

ul > li:first-child > a {
  border-bottom: 2px solid #000;
  font-weight: 800;
}

nav > .button-group {
  position: absolute;
  float: right;
  top: 9%;
  right: 10%;
}

.button-group > .search-icon {
  color: #8f8f8f;
  position: absolute;
  left: 50%;
}

.button-group .nav-button {
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 4px 40px;
  position: relative;
  left: 80%;
  cursor: pointer;
  color: #8f8f8f;
  border: 2px solid #707070;
}

/* ------------------------- */
/* End of Nav-Bar Section */
/* ------------------------- */

/* ------------------------- */
/* Start of Hero-Section */
/* ------------------------- */

section > .hero-container {
  position: relative;
  margin: 80px 75px 70px 75px;
}

/* Square */
section > .hero-container > span:first-child {
  position: absolute;
  top: 44%;
  left: 10%;
  z-index: -1;
}

/* Star */
section > .hero-container > span:nth-child(2) {
  position: absolute;
  right: 2%;
}

.star-i > img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 90%;
  left: 45%;
}

/* Star-resizing */
section > .hero-container > span:nth-child(2) > img {
  width: 50px;
  height: 50px;
}

/* Globe */
section > .hero-container > span:nth-child(3) {
  position: absolute;
  top: -10%;
  left: 55%;
}

/* Globe-resizing */
section > .hero-container > span:nth-child(3) > img {
  width: 50px;
  height: 50px;
}

/* Men img-resizing */
span img[alt="square-pattern"] {
  width: 300px;
  height: 300px;
}

/* Men img-resizing */
div img[alt="person-hero-image"] {
  width: 350px;
  height: 450px;
}

/* ------------------------- */
/* End of Hero-Section */
/* ------------------------- */

/* ------------------------- */
/* Start of Right-Hero-Section */
/* ------------------------- */

.hero-container-right {
  position: absolute;
  top: 10%;
  left: 40%;
  text-align: center;
}

.hero-container-right > div {
  margin-top: 70px;
  margin-bottom: 80px;
}

.hero-container-right > div:last-child {
  margin-top: 80px;
}

.hero-heading {
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

.hero-description {
  font-size: 0.9rem;
  line-height: 1.6em;
  margin: 50px 0 60px 0;
}

.button-email {
  margin-right: 6px;
  padding: 3px 20px;
  border: 2px solid #707070;
  border-radius: 4px;
  font-family: Orbitron;
  background-color: #fff;
}

.button-join {
  padding: 3px 2px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-family: Orbitron;
}

.contact-heading {
  font-family: "Fragment Mono";
  color: #8f8f8f;
  margin-bottom: 10px;
  font-weight: 500;
}

.icons > span > img {
  margin: 0 6px;
  width: 35px;
  height: 35px;
}

/* ------------------------- */
/* End of Right-Hero-Section */
/* ------------------------- */
