body {
  background-color: #ddd;
  font-family: monospace;
}

.wrap {
  position: relative;
  margin: auto;
  width: 1000px;
}

.ribbon {
  width: 900px;
  height: 60px;
  margin: 100px auto 0px;
  position: relative;
  background-color: #3d79d0;
}

.nav {
  position: relative;
  margin-left: 0px;
  margin-top: -50px;
  text-align: center;
}

.nav a {
  padding: 10px;
  width: 80px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  color: orange;
}

.ribbon i {
  position: absolute;
}

i:first-child,
i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
  border: 20px solid transparent;
  border-right-color: #043140;
}

i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: #043140;
}

i:nth-child(3),
i:last-child {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: -2;
  border: 30px solid #1d53c0;
  border-left-color: transparent;
}

i:last-child {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid #1d53c0;
  border-right-color: transparent;
}
