/* ---------- ASSETES ------------
background-color: #2b2922;
nav-color: #918f87;
button-color: #948434;
button-border-color: #57502a;
------------------------------- */

/* ---------- FONTS ------------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* ---------- FONTS ------------ */

/* ---------- GLOBAL-SETTING-START ------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto Mono;
  background-color: #2b2922;
}

.container {
  margin: 35px 75px 0px 75px;
}
/* ---------- GLOBAL-SETTING-END -------------- */

/* ---------- NAVBAR-START ------------ */

.nav-bar {
  position: relative;
  margin-bottom: 70px;
}

.nav-logo {
  display: inline-block;
}

.nav-logo > img {
  width: 120px;
  height: 45px;
  cursor: pointer;
}

.nav-item {
  position: absolute;
  top: 25%;
  right: 13%;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0 14px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: color 0.1s ease-in-out;
}

.list-items:not(:first-child) > a:hover {
  font-weight: 600;
  color: #fff;
}

.list-items:not(:first-child) > a {
  color: #918f87;
  font-weight: 400;
}

.nav-button {
  position: absolute;
  top: 9%;
  right: 0;
}

.nav-button > button {
  padding: 10px 25px;
  border-radius: 6px;
  border: 1px solid #948434;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: #948434;
  transition: color 0.01s ease-in, border 0.3s ease-out;
}

.nav-button > button:hover {
  color: #fff;
  border: 1px solid #fff;
}
/* ---------- NAVBAR-END -------------- */

/* ---------- HERO-SECTION-START -------------- */
.hero-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

/* LEFT */
.left-section {
  flex: 1;
}

.left-section h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #fff;
}
/* RIGHT */
.right-section {
  flex: 1;
  margin-top: 50px;
}

.right-section p {
  font-family: Roboto Mono;
  font-weight: 200;
  color: #fff;
  opacity: 0.7;
}

/* HERO-SECTION-IMG */
.hero-section-img {
  margin-bottom: 90px;
}

.hero-section-img img {
  object-fit: cover;
  height: 320px;
  width: 100%;
}

/* ---------- HERO-SECTION-END ---------------- */
