/* 
active-nav-item-font-color: #fe5e35
nav-items-font-color: #494949
paragraph-font-color: #e6e6e6
yellow-dot: #fbd104
orange-dot: #fe5e35
black-dot: #000000
*/

/* -------- START-GLOBLE-STYLE ---------- */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  position: relative;
}
/* -------- END-GLOBLE-STYLE ---------- */

/* -------- START-NAVBAR-STYLE ---------- */
nav {
  margin: 60px 0 60px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img:first-child {
  width: 90px;
  height: 53px;
}

.nav-item {
  flex: 9;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-items {
  margin-left: 100px;
  font-size: 1.1rem;
  font-weight: 100;
}

.active-item {
  color: #fe5e35;
  font-weight: 700;
}

nav > img:last-of-type {
  flex: 1;
  width: 250px;
  height: 60px;
}
/* -------- END-NAVBAR-STYLE ---------- */

/* -------- START-HERO-SECTION-STYLE ---------- */
.intro-section {
  position: relative;
  margin: 0 60px;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 3.5rem;
  font-family: Fredoka One;
  letter-spacing: 0.2rem;
}

.sub-headlines {
  margin: 25px 0 35px 60px;
}

.sub-headlines img {
  padding: 2.5px;
  margin-right: 10px;
  height: 15px;
  border-radius: 10px;
  vertical-align: middle;
  background-color: #fe5e35;
}

.sub-headlines .sub-headline {
  margin: 10px 0;
  padding-left: 10px;
  font-size: 1.3rem;
  font-weight: 200;
}

.text {
  max-width: 45%;
  word-wrap: break-word;
  opacity: 0.5;
  font-size: 1rem;
}

.action-btns {
  margin-top: 40px;
}

.action-btn {
  padding: 12px 35px;
  font-size: 1rem;
  margin-right: 18px;
  font-weight: 500;
  color: #fff;
  outline: none;
  border-radius: 20px;
  border: 1px solid #fe5e35;
  background-color: #fe5e35;
}

.headphone-div img:first-child {
  position: absolute;
  width: 155px;
  top: 60%;
  right: 36%;
  z-index: 1;
}

.discount-content {
  position: absolute;
  width: 100px;
  top: 69%;
  right: 37%;
  z-index: 1;
  color: #fff;
  font-size: 1rem;
}

.discount-content h4 {
  font-size: 1rem;
}

.discount-content h1 {
  font-size: 2.5rem;
}

.headphone-div img:last-child {
  position: absolute;
  top: -15%;
  right: 8%;
}

.dots {
  position: absolute;
  top: 120%;
  right: 22%;
  z-index: 1;
}

.yellow-dot,
.tomato-dot,
.black-dot {
  display: inline-block;
  width: 3px;
  padding: 12px;
  border-radius: 50%;
  margin-left: 20px;
}

.yellow-dot {
  background-color: #fbd104;
}

.tomato-dot {
  background-color: #fe5e35;
}

.black-dot {
  background-color: #000000;
}
.right-section .action-btn {
  position: absolute;
  top: 135%;
  right: 20%;
}
/* -------- END-HERO-SECTION-STYLE ---------- */
